@page "{handler}/{id:int}"
@model HotwiredQuoteEditor.Areas.Tutorial.Pages.QuoteModel

@{
  <a asp-area="Tutorial" asp-page="/Quotes" asp-page-handler="List" class="text-sm text-red-500">← Back to quotes</a>

  if (Model.Handler == "View") {
    @if (Model.Message != null) {
      <div id="notification">
        <partial name="~/Areas/Common/Pages/_SuccessNotification.cshtml" model="@Model.Message" />
      </div>
    }
    <h1 class="flex-1">Quote</h1>
    <partial name="Quote/_View" model="@Model.SelectedEntity" />
  } else {
    <h1 class="flex-1">@(Model.Handler == "Add" ? "Add Quote" : "Edit Quote")</h1>
    <partial name="Quote/_AddEdit" model="@Model" />
  }
}
