@page "{handler=List}/{id?}"

@inject IQuoteRepository _Repository

@model HotwiredQuoteEditor.Areas.Tutorial.Pages.QuotesModel

@using HotwiredQuoteEditor.Utils;

<div id="notification">
  @if (TempData.ContainsKey("Message")) {
    <partial name="~/Areas/Common/Pages/_SuccessNotification.cshtml" model="@(TempData.Get<JsonMessage>("Message"))" />
  }
</div>

<div class="flex">
  <h1 class="flex-1">Quotes</h1>
  <a asp-area="Tutorial" asp-page="/Quote" asp-route-handler="Add" asp-route-id="0" data-turbo-frame="quote_0"
     class="text-sm text-white p-1.5 border-2 border-red-500 bg-red-500 hover:bg-red-600 rounded-md">Add Quote</a>
</div>

<turbo-frame id="quote_0">
  @if (_Repository.GetAll().Count == 0) {
    <partial name="Quote/_Empty" />
  }
</turbo-frame>

<turbo-frame id="quotes">
  @foreach (var item in _Repository.GetAll()) {
    <partial name="Quote/_View" model="@item" />
  }
</turbo-frame>

<signalr-turbo-stream hub=@($"/{nameof(AppHub)}") method="quoteReceived"></signalr-turbo-stream>