@page
@model IndexModel

<div class="text-center m-12">
  <h2>This is a port of the "<a href="https://www.hotrails.dev/" target="_blank">The Turbo Rails Tutorial</a>" to the ASP.NET Core environment.</h2>
  <a asp-area="Tutorial" asp-page="/Quotes" class="link-button-primary inline-block mt-2">Go to the Quote Editor</a>
</div>
