@model HotwiredQuoteEditor.Areas.Tutorial.Pages.QuoteDetailModel

@{
  <turbo-stream action="replace" target="notification">
    <template>
      <div id="notification">
        <partial name="~/Areas/Common/Pages/_SuccessNotification.cshtml" model="@Model" />
      </div>
    </template>
  </turbo-stream>

  <turbo-stream action="replace" target="edit_quote_date_0">
    <template>
      <turbo-frame id="edit_quote_date_0">
      </turbo-frame>
    </template>
  </turbo-stream>

  @if(@Model.PrevDate == null) {
    <turbo-stream action="prepend" target="quote_dates">
      <template>
        <partial name="~/Areas/Tutorial/Pages/QuoteDate/_View.cshtml" model="@Model" />
      </template>
    </turbo-stream>
  } else {
    <turbo-stream action="after" target="@("quote_date_" + Model.PrevDate.Value.ToString("yyyy-MM-dd"))">
      <template>
        <partial name="~/Areas/Tutorial/Pages/QuoteDate/_View.cshtml" model="@Model" />
      </template>
    </turbo-stream>
  }
}
